
#External dependencies
h5py==2.7.1
nltk==3.2.5
tqdm==4.19.8
ujson==1.35
mock==2.0.0
numpy==1.15.0
# We require >=0.18 to support the "expanding" function
pandas>=0.18.0
pytest==3.6.4
requests==2.18.1
retry==0.9.2
scikit-learn==0.19.1
scipy==0.19.1
tensorflow==1.7.0



# Cape dependencies
git+https://github.com/bloomsburyai/cape-machine-reader
